html, body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.top-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 10px 40px;
    border-bottom: 1px solid #222;
}

.top-panel .left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 40px;
    height: 40px;
    border: 2px solid #ffffff;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo.small {
    width: 30px;
    height: 30px;
}

.title {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}

.top-panel .right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.top-panel .right a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.top-panel .right a:hover {
    text-decoration: underline;
}


.content {
    flex: 1;
    padding: 40px;
}


.footer {
    background-color: #000000;
    border-top: 1px solid #222;
    padding: 15px 40px;
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer p {
    font-size: 14px;
    color: #ffffff;
}


.hero {
    display: flex;
    height: 600px;
}


.hero-left {
    width: 50%;
}

.hero-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.hero-right {
    width: 50%;
    background-color: #000000;
    color: white;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.small-title {
    letter-spacing: 3px;
    font-size: 12px;
    margin-bottom: 10px;
}

.hero-left {
    width: 50%;
    position: relative;
}

.hero-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.hero-left::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    background: linear-gradient(to right, transparent, #000000);
}

.subtitle {
    margin-bottom: 30px;
    color: #ccc;
}


.service-box {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
}

.service-box p {
    margin-bottom: 10px;
    font-weight: bold;
}

.service-box select {
    width: 100%;
    padding: 10px;
}